<style type="text/css">
	
	h1
	{
		
		
		position: absolute;
		top: 5%;
		left: 30%;
		color: red;


	}
	form
	{
		position: absolute;
		top: 20%;
		left: 30%;
		right: 35%;

	}
	body
	{
		background-image: url("http://www.sucai.com.cn/bizhi/Wallpaper/cai/4279/SLXCBJ_013.jpg");
		background-size: 1300px 700px;
		background-repeat: no-repeat;


	}

</style>


<h1>Welcom Admin.....!</h1>
<br/><br/></br/>
To add and list Hospitals, click here....<br\><br\>
<%= link_to "Hospital", new_hospital_path %><br/><br/>
To add and list Diseases, click here....<br\><br\>
<%= link_to "Diseases", new_disease_path %>

