<style type="text/css">
	
	h1
	{
		
		
		position: absolute;
		top: 5%;
		left: 10%;
		color: black;


	}
	form
	{
		position: absolute;
		top: 20%;
		left: 10%;
		right: 35%;

	}
	body
	{
		background-image: url("http://p1.pichost.me/i/15/1377212.jpg");
		background-size: 1300px 700px;
		background-repeat: no-repeat;

	}

</style>

<h1> Hi Welcome to healthoptima !!! </h1> <br \><br \><br \>
<%= link_to "Hospital lists", hospitals_path %><br/><br/>
<%= link_to "Diseases and its symptoms", diseases_path %>
