<h1>Diseases Details</h1>
<p>
	<table>
		<tr>
			<td><strong>Diseases_name</strong>
			<%= @disease.diseases_name%></td>
		</tr>
		<tr>
			<td><strong>Symptoms</strong>
			<%= @disease.symptoms%></td>
		</tr>
	</table>
</p>
<tr>
	<td><%= link_to 'back', diseases_path %></td>
</tr>